.favorite {
    color: red;
}

body {
    background-size: cover;
    background: url(skullsp.png) center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.navbar {
    background-color: rgba(76, 6, 90, 0.3);
    padding: 10px 10px;
    font-color: black;
}

.navbar-brand {
    font-size: 36px;
    padding: 15px;
    font-family: 'Permanent Marker', cursive;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

li {
    margin: 5px;
}
