{% extends 'base.html' %}
{% block content %}

<h2>Search Songs</h2>
  <div>
    <form action="/songs" method="GET">
      <label>Search by chords:
        <input type="text" name="chord_string">
      </label>
      <input type="submit">
    </form>

    <form action="/songs" method="GET">
      <label>Search by song title:
        <input type="text" name="title_string">
      </label>
      <input type="submit">
    </form>

    <form action="/songs" method="GET">
      <label>Search by artist:
        <input type="text" name="artist_string">
      </label>
      <input type="submit">
    </form>
  </div>

<h3>Songs with only 3 chords:</h3>
  <ul>
    {% for song in songs_list %}
      <li>

        <a href="/songs/{{ song[0] }}">{{ song[1] }}</a><br>

        Artists: {{ song[2]|join(', ') }}<br>

        Chords: {{ song[3]|join(', ') }}<br>

      </li>
    {% endfor %}
  </ul>

{% endblock %}