{% extends 'base.html' %}
{% block content %}

<h2>Login</h2>

<form action="/login" method="POST">

  <label>Email address:
    <input type="email" name="email" required>
  </label>

  <label>Password:
    <input type="password" name="password" required>
  </label>

  <input class="btn btn-default" type="submit">

</form>

<h2>New? Register for an account!</h2>

<form action="/register" method="POST">

  <label>Email address:
    <input type="email" name="email" required>
  </label>

  <label>Password:
    <input type="password" name="password" required>
  </label>

  <label>Retype password:
    <input type="password" name="verify" required>
  </label>

  <input class="btn btn-default" type="submit">

</form>

{% endblock %}