{% extends 'base.html' %}
{% block content %}

<h2>{{ song.title }}</h2>

<h4>Artists: {% for artist in song.artists %}
  {% if loop.last %}
    {{ artist.name }}
  {% else %}
    {{ artist.name }},
  {% endif %}
{% endfor %}
</h4>

<h4>Chords: {% for chord in song.chords %}
  {% if loop.last %}
    {{ chord.name }}
  {% else %}
    {{ chord.name }},
  {% endif %}
{% endfor %}
</h4>

<div class="fav-song">
  <button id="song-button-{{ song.song_id }}" data-songid="{{ song.song_id }}"" class="fav-btn" {% if not session %}disabled{% endif %}>
    {% if session %}
      Favorite
    {% else %}
      Login to Favorite
    {% endif %}
  </button>
</div>
<br>

<div>
  {{ song.body_chords_html|safe }}
</div>
<br>

<!-- Youtube embed -->
<div class="youtube">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <div class="item active">
        {{ youtube[0].player.embedHtml|safe }}
      </div>

      {% for video in youtube[1:] %}
      <div class="item">
        {{ video.player.embedHtml|safe }}
      </div>
      {% endfor %}

    </div>

    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
    </a>

  </div>
</div>


<script src="/static/js/fav.js"></script>
<script type="text/javascript">
  $(function(){
  $('#carousel-example-generic').carousel();
  });
</script>

{% endblock %}