{% extends 'base.html' %}
{% block content %}

<h2>{{ song.title }}</h2>

<h4>Artists: {% for artist in song.artists %}
  {% if loop.last %}
    {{ artist.name }}
  {% else %}
    {{ artist.name }},
  {% endif %}
{% endfor %}
</h4>

<h4>Chords: {% for chord in song.chords %}
  {% if loop.last %}
    {{ chord.name }}
  {% else %}
    {{ chord.name }},
  {% endif %}
{% endfor %}
</h4>

<div class="fav-song">
  <button id="song-button-{{ song.song_id }}" data-songid="{{ song.song_id }}"" class="fav-btn" {% if not session %}disabled{% endif %}>
    {% if session %}
      Favorite
    {% else %}
      Login to Favorite
    {% endif %}
  </button>
</div>
<br>

<div>
  {{ song.body_chords_html|safe }}
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/js/fav.js"></script>

{% endblock %}