{% extends 'base.html' %}
{% block content %}

<h2>Search by Chords</h2>
  <div>
    <form action="/songs" method="GET">

      <label>Chords:
        <input type="text" name="chord_string">
      </label>

      <input type="submit">

    </form>
  </div>

<h3>Search Results:</h3>

  {% if songs_list %}
    <ul>
      {% for song in songs_list %}
        <li>

          <a href="/songs/{{ song[0] }}">{{ song[1] }}</a><br>

          Artists: {{ song[2]|join(', ') }}<br>

          Chords: {{ song[3]|join(', ') }}<br>

        </li>
      {% endfor %}
    </ul>

  {% else %}
    No results? Try searching the following:
    <br><br>

    Common Chords:
    <ul>
      {% for chords in popular %}
        <li>
          <a href="/songs?chord_string={{ chords[0]|join('+')|replace('#','%23') }}">{{ chords[0]|join(', ') }} ({{ chords[1] }})</a>
        </li>
      {% endfor %}
    </ul>

    Fewer Chords:
    <ul>
      {% for chords in shortest %}
        <li>
          <a href="/songs?chord_string={{ chords|join('+')|replace('#','%23') }}">{{ chords|join(', ') }}</a>
        </li>
      {% endfor %}
    </ul>

  {% endif %}

{% endblock %}